<carousel>
    <slide>
        <img src="assets/images/food.jpg" alt="first slide" style="display:block; width: 100%;">
    </slide>
    
    <slide>
        <img src="assets/images/bodycare.png" alt="second slide" style="display:block; width: 100%;">
    </slide>
    
    <slide>
        <img src="assets/images/home.png" alt="third slide" style="display:block; width: 100%;">
    </slide>
    <slide>
        <img src="assets/images/closes.png" alt="third slide" style="display:block; width: 100%;">
    </slide>
    
</carousel>

<section class="d-flex align-items-center justify-content-center pt-4">
    <h1>Welcome at City Supermarket</h1>
</section>