<div class="container" style="margin-left: 15%; margin-top:12%;">
    
    <section class="d-flex align-items-center justify-content-center mb-3" >
        <h1 style="font-family:'cursive'; font-weight: bold; font-size: 2em; ">Welcome at City Supermarket</h1>
    </section>

    <carousel class="d-flex align-items-center justify-content-center">
        <slide>
            <img src="assets/images/slide3.jpg" alt="second slide" style="display:block;max-width: 1200px; max-height: 750px;">
        </slide>
        <slide>
            <img src="assets/images/slide4.jpg" alt="second slide" style="display:block;max-width: 1200px; max-height: 750px;">
        </slide>
        <slide>
            <img src="assets/images/slide5.jpg" alt="second slide" style="display:block;max-width: 1200px; max-height: 750px;">
        </slide>
        <slide>
            <img src="assets/images/Fruits.jpg" alt="third slide" style="display:block;max-width: 1200px; max-height: 750px;">
        </slide>
        <slide>
            <img src="assets/images/electronics.png" alt="second slide" style="display:block;max-width: 1200px; max-height: 750px;">
        </slide>
        <slide>
            <img src="assets/images/slide1.jpg" alt="second slide" style="display:block;max-width: 1200px; max-height: 750px;">
        </slide>
        <slide>
            <img src="assets/images/slide2.jpg" alt="second slide" style="display:block;max-width: 1200px; max-height: 750px;">
        </slide>
        <slide>
            <img src="assets/images/closes.png" alt="third slide" style="display:block; width: 100%;">
        </slide>

    </carousel>


</div>