
<div class="d-flex justify-content-center mt-5">
    <div class="col-5 mt-5" style="margin-left: 50%;"> 
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="text-center mb-4">
            <h1 class="h3 mb-3 font-weight-normal">Register</h1>
            </div>
            
            <div class="form-label-group">
                <input formControlName="displayName" type="text" id="inputName" class="form-control" placeholder="Full name">
                <label for="inputName">Full Name</label>
                <span class="text-danger" *ngIf="requiredInputInValid('displayName')" > <strong>Full Name is required.</strong> </span>
            </div>

            <div class="form-label-group">
                <input formControlName="email" type="email" id="inputEmail" class="form-control" placeholder="Email address">
                <label for="inputEmail">Email address</label>
                <span class="text-danger" *ngIf="requiredInputInValid('email')" > <strong> Email address is required.</strong></span>
                <span class="text-danger" *ngIf="patternInputInvalid('email')" > <strong> Email address is not valid.</strong>
                </span>    
            </div>
        
            <div class="form-label-group">
                <input formControlName="password" type="password" id="inputPassword" class="form-control" placeholder="Password">
                <label for="inputPassword">Password</label>
                <span class="text-danger" *ngIf="requiredInputInValid('password')" > <strong>Password is required.</strong> </span>
            </div>
        
            <button [disabled]="registerForm.invalid" style="width: 100%;" class="btn btn-lg btn-success btn-block" type="submit">Register</button>
        </form>
    </div>
    
</div>
