<div class="container">
    <div *ngIf="(basket$|async)===null or (basket$|async).items.length===0">No Items in your basket.</div>



    <div *ngIf="(basket$|async) as basket">

        <div class="pb-5">
            <div class="container " style="margin-left: 18%;">

                <div class="row" style="margin-left: 10%;">
                    <div class="col-12 py-5 mb-1">
                        <app-basket-summary (increment)="increaseQuantity($event)"
                                            (decrement)="decreaseQuantity($event)"
                                            (remove)="removeBasketItem($event)"></app-basket-summary>
                    </div>

                </div>
                
                <div class="row justify-content-center">
                    <div class="col-8" style="margin-left: 15%;">
                        <app-order-totals></app-order-totals>
                        <div class="justify-content-center"></div>
                        <a style="width: 100%;" routerLink="/checkout" class="btn btn-outline-success py-2 btn-block"> Proceed to checkout</a>
                    </div>
                </div>

            </div>
        </div>


    </div>
</div>