<div class="container" style="margin-left: 35%; margin-top: 15%;">
    <div class="row">
        <i class="fa fa-check-circle fa-5x col-12" style="color: green;"></i>
    </div>
    <div class="row">
        <h2 class="mt-2 col-12">Thank You. Your order is confirmed.</h2>
    </div>
    <div class="row">
        <p class="mb-4 col-12" style="font-size: 1.1em;">Your order has not been shipped yet. Once it is, one of our customer service will call you.</p>
    </div>
    <div class="row">
        <button class="btn btn-outline-success col-12" routerLink="/orders" style="width: 50%;"> View your orders</button>
    </div>

</div>