<header style="background-color:rgb(250, 250, 250);" class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-2 border-bottom fixed-top">
 

  <img  src="/assets/images/logo.png" routerLink="/" class="img-fluid" style="max-height: 110px; margin-left: 50px; margin-right:15px" alt="logo" />
  
  <h3 style="color: rgb(3, 9, 59); font-family:'cursive';">City Supermarket</h3>



  <ul class="nav nav-pills mt-2 mt-md-0 ms-md-auto text-uppercase me-lg-5" style="font-size: larger">
    <li class="nav-item"><a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="nav-link">Home</a></li>
    <li class="nav-item"><a routerLink="shop" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="nav-link">Shop</a></li>
    <li class="nav-item"><a routerLink="#" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="nav-link">About</a></li>
  </ul>

  <div class="d-flex align-items-center me-4">
    <a routerLink="basket" class="position-relative">
      <i class="fa fa-shopping-cart fa-2x me-3 text-info"></i>
      <div *ngIf="(basket$|async) as basket" class="cart-no">{{basket.items.length}}</div>
    </a>
    <button type="button" class="btn btn-outline-primary me-2">Login</button>
    <button type="button" class="btn btn-primary">Sign up</button>
  </div>
</header>



