<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-2 mb-2 border-bottom fixed-top" style="flex-direction">
  <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
    <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
  </a>

  <img src="/assets/images/logo.png" style="max-height: 70px; margin-right:15px" alt="logo" />


  <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
    <input type="search" size="50" class="form-control form-control-dark input-lg" placeholder="Search..." aria-label="Search">
  </form>

  <ul class="nav nav-pills mt-2 mt-md-0 ms-md-auto text-uppercase me-lg-5" style="font-size: medium">

    <li class="nav-item"><a href="#" class="nav-link">Home</a></li>
    <li class="nav-item"><a href="#" class="nav-link">Shop</a></li>
    <li class="nav-item"><a href="#" class="nav-link">About</a></li>
  </ul>

  <div class="d-flex align-items-center me-4">
    <a class="position-relative">
      <i class="fa fa-shopping-cart fa-2x me-3 text-info"></i>
      <div class="cart-no">5</div>
    </a>
    <button type="button" class="btn btn-outline-primary me-2">Login</button>
    <button type="button" class="btn btn-primary">Sign up</button>
  </div>
</header>



